[submodule "tools/Freemaker"]
	path = tools/Freemaker
	url = https://github.com/derFreemaker/Freemaker.Lua.git
[submodule "docu"]
	path = docu
	url = https://github.com/derFreemaker/FIcsIt-Networks-Documentation.git
[submodule "FIcsIt-OS"]
	url = https://github.com/Panakotta00/FicsIt-OS.git
